<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.53" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.104.41" targetFramework="net462" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net462" />
  <package id="LiteDB" version="4.1.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net462" />
  <package id="Wpf.MVVMC" version="1.1.8" targetFramework="net462" />
</packages>